! COLORS
! special
*.foreground:   #fefef7
*.background:   #091f2c
*.cursorColor:  #e6aab4

! black
color0  = #203a3e
color8  = #3c3d39

! red
color1  = #bf3144
color9  = #e8544f

! green
color2  = #d07c67
color10 = #e6958b

! yellow
color3  = #adbb6d
color11 = #cac46e

! blue
color4  = #dd8f9f
color12 = #e6aab4

! magenta
color5  = #488776
color13 = #65a86f

! cyan
color6  = #30a490
color14 = #8abeb7

! white
color7  = #c9bdc4
color15 = #ecccc2

! X config
Xcursor.size: 2
